<app-navigation-bar></app-navigation-bar>
<div style="display: flex;" class="movie-cards">
  <mat-card *ngFor="let movie of movies;" class="movie-card" style="flex: 1 1 auto;">
    <mat-card-header class="movie-card-header">
      <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="movie-card-content">
      <div class="movie-card-img">
        <img style="width: 170px;" src={{movie.ImageURL}} alt={{movie.Title}} />
      </div>
      <mat-card-actions class="movie-card-actions-container">
        <button
            mat-button
            (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
            color="primary"
        >
          Genre
        </button>
        <button
            mat-button
            (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)"
            color="primary"
        >
          Director
        </button>
        <button
              mat-button
              (click)="openSynopsisDialog(movie.Description)"
              color="primary"
          >
            Synopsis
        </button>
        <mat-icon 
          (click)="toggleFavoriteMovie(movie._id)"
          style="color:blue"
        >
          {{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}
        </mat-icon>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>