.movie-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 25px;
  background-color: #152238;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 3px solid #F5AC3E;
  background-color: #152238;
  max-width: 300px;
  width: 300px;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(168, 165, 199, 0.2), 0 5px 5px 0 rgba(238, 203, 150, 0.24);
}

.movie-card-img {
  display: flex;
  align-items: center;
}

.movie-card-header {
  padding: 0;
  height: 72px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5AC3E;
}

#title{
  font-size: 20px;
  filter:drop-shadow(0 0 1px white);
}

.movie-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0 !important;
  height: 297px;
}

.movie-card-actions-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.movie-card-actions-left {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  font-size: small;
  width: 100%;
}

.movie-card button{
  color: #F5AC3E;
}

.fav-button:hover{
  cursor: pointer;
}