<app-navigation-bar></app-navigation-bar>
<div class="profile-container">
  <mat-card class="info-card">
    <h1 >Hello {{user.Username}}!</h1>
    <mat-card-header class="card-header">
      <mat-card-title>Your Profile:</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div>
        <b>Username: </b>{{user.Username}}
      </div>

      <div>
        <b>Email: </b>{{user.Email}}
      </div>

      <div>
        <b>Birthday: </b>{{user.Birthday}}
      </div>
    </mat-card-content>

    <!-- <mat-card-actions class="card-actions">
      <button
        mat-raised-button
        color="warn"
        (click)="onDeleteAccount(user.Username)"

      >
        <mat-icon>delete_forever</mat-icon>Delete account
      </button>
    </mat-card-actions> -->
  </mat-card>

  <!-- <mat-tab-group style="width: 70%; min-width: 300px;">
      <mat-tab label="Update Info">
          <h3>Update your Info</h3>
          <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <mat-form-field class="update-input-field">
                  <input 
                      matInput
                      [(ngModel)]="updatedUser.Username"
                      value="{{ updatedUser.Username }}" 
                      placeholder="{{ user.Username }}" 
                      type="text" 
                      name="Username"
                  >
              </mat-form-field>
              <mat-form-field class="update-input-field">
                  <input 
                      matInput 
                      [(ngModel)]="updatedUser.Password"
                      type="password" 
                      placeholder="******" 
                      name="Password"
                  >
              </mat-form-field>
              <mat-form-field class="update-input-field">
                  <input 
                      matInput 
                      type="email" 
                      [(ngModel)]="updatedUser.Email"
                      value="{{ updatedUser.Email }}" 
                      placeholder="{{ user.Email }}" 
                      name="Email"
                  >
              </mat-form-field>
              <mat-form-field class="update-input-field">
                  <input 
                      matInput
                      [(ngModel)]="updatedUser.Birthday"
                      value="{{ updatedUser.Birthday | date }}" 
                      placeholder="{{user.Birthday}}" 
                      type="date" 
                      name="Birthday"
                  >
              </mat-form-field>
          </form>
          <button 
              mat-raised-button 
              (click)="updateUserInfo()"
              color="primary" 
              class="form-buttons"
          >
              Update
          </button> -->
      <!-- </mat-tab>
      <mat-tab label="Delete Profile">
          <h3>Delete your Profile</h3>
          <button 
              mat-raised-button
              (click)="deleteUserInfo()" 
              color="warn" 
              class="form-buttons"
          >
              Delete
          </button>
      </mat-tab> -->
  <!-- </mat-tab-group>
</div>


<!-- <div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
      <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <img src={{movie.ImageURL}} alt= {{movie.Title}} />
      <mat-card-actions>
          <button
              mat-button
              color="primary"
          >
              Genre
          </button>
          <button
              mat-button
              color="primary"
          >
              Director
          </button>
          <button
              mat-button
              color="primary"
          >
              Synopsis
          </button>
          <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>
  </mat-card>
</div> -->
