.profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  justify-self: stretch;
}

mat-card {
  margin: 30px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px grey;
  justify-content: space-between;
  color:#414141;
}
.update-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
mat-card-header {
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}

.card-actions {
  display: flex;
  justify-content:center;
  margin-top: 24px;
}